* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.PageLayout {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 15px 5px #0000003b;
}

.PageLayout-head {
  width: 100%;
  margin-left: auto;
  padding: 13px 23px;
  border-bottom: 1px solid #CCC;
  background: #FFF;


}

