.ModalItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
}

.ModalItem-code {
  padding: 20px 10px 20px 20px;
}

.ModalItem-title {
  width: 100%;
  padding: 20px 10px;
}

.ModalItem-total {
  margin-left: 62px;
}

.ModalItem-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
  margin-left: 14px;
}